# Exploratory Data Analysis with `pandas`

`pandas` is a popular data analysis library written in Python.  It provides the tools that enable you to quickly and easily ingest, explore, manipulate, transform, and analyze data. 

`pandas` website: [https://pandas.pydata.org/](https://pandas.pydata.org/)

Let's explore how we can use this powerful library by first loading in a data set.

## Loading Data into `pandas`

**Step 1: Prepare data**

Download the data set `cereal.csv` from Canvas Module 2.
We will be using this data set for today's lecture.

Upload this data to your Google Drive folder.

**Step 2: Import pandas**

In [1]:
import pandas as pd

In [6]:
file_path ="/content/drive/MyDrive/Colab Notebooks/MSDS-Data Visualization/Data/cereal.csv"
cereal = pd.read_csv(file_path)

In [7]:
type(cereal)

pandas.core.frame.DataFrame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [8]:
# First n rows of cereal
cereal.head(n=10)

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3    1.00  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3    1.00  1.00  33.983679
2                   All-Bran   K    C        70  ...      3    1.00  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3    1.00  0.50  93.704912
4             Almond Delight   R    C       110  ...      3    1.00  0.75  34.384843
5    Apple Cinnamon Cheerios   G    C       110  ...      1    1.00  0.75  29.509541
6                Apple Jacks   K    C       110  ...      2    1.00  1.00  33.174094
7                    Basic 4   G    C       130  ...      3    1.33  0.75  37.038562
8                  Bran Chex   R    C        90  ...      1    1.00  0.67  49.120253
9                Bran Flakes   P    C        90  ...      3    1.00  0.67  53.313813

[10 rows x 16 columns]

In [9]:
# Returns (row_count, column count) of dataframe
cereal.shape

(77, 16)

## `pandas` Series and DataFrames

A series is like a single column of data.  It behaves a lot like a `numpy` array because that is exactly what it is on the backend.

A dataframe consists of multiple series.  You can think of it like a spreadsheet with rows and columns.

In [10]:
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [11]:
# One column from the dataframe is a series
manufacturer = cereal['mfr']
type(manufacturer)

pandas.core.series.Series

In [12]:
manufacturer

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

In [13]:
manufacturer[0:3]

0    N
1    Q
2    K
Name: mfr, dtype: object

In [ ]:
# Setting the index of the manufacturer Series
manufacturer.index = cereal['name']

In [14]:
manufacturer

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

In [ ]:
manufacturer['Trix']

In [15]:
manufacturer.describe()

count     77
unique     7
top        K
freq      23
Name: mfr, dtype: object

In [16]:
# Produces a frequency distribution of the values in the Series
manufacturer.value_counts()

K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: mfr, dtype: int64

In [19]:
# Load in the data as a dataframe again, this time specifying the index column at load time
cereal = pd.read_csv(file_path, index_col='name')

## Data Cleaning

A common problem with data is that it doesn't come to you in a perfectly usable form.  Oftentimes you need to clean it through various techniques such as those listed below:
- dropping unnecessary columns
- removing or treating duplicates
- replacing values
- creating new columns
- handling null or missing values

`pandas` enables you to perform these types of cleaning relatively easily

### Dropping Unnecessary Columns

In [20]:
# Dropping unnecessary columns
# Let's say we don't need the 'shelf' column

# One way is to create a new dataframe using only the columns we want to keep
cereal.columns # produces a list of columns

Index(['mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo',
       'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating'],
      dtype='object')

In [21]:
# Remove shelf
columns_to_keep = ['mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo',
       'sugars', 'potass', 'vitamins', 'weight', 'cups', 'rating']

# Explicitly copying is good practice here
cereal = cereal[columns_to_keep].copy()

In [22]:
# No more shelf
cereal.columns

Index(['mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo',
       'sugars', 'potass', 'vitamins', 'weight', 'cups', 'rating'],
      dtype='object')

### Removing Duplicates

In [23]:
# The cereals dataset does not have any duplicates, so let's
# concatenate the dataset to itself to demonstrate how we can remove
# duplicates

cereal_duplicated = pd.concat([cereal,cereal],axis=0)
print(cereal_duplicated.shape)

(154, 14)

In [24]:
cereal_deduplicated = cereal_duplicated.drop_duplicates()

In [25]:
cereal_deduplicated.shape

(77, 14)

### Replacing Values

In [26]:
# Let's update the manufacturer names to their full names
# Create a dictionary where the keys represent the values in the dataframe you want to replace
# The values are the new values you want to use
replacements = {
    "A": "American Home Food Products",
    "G": "General Mills",
    "K": "Kellogs",
    "N": "Nabisco",
    "Q": "Quaker Oats",
    "R": "Ralston Purina",
    "P": "Post"
}

# We can update a specific Series within the dataframe like this
cereal.mfr = cereal.mfr.replace(replacements)
# cereal.loc[:,'mfr'] = cereal.loc[:,'mfr'].replace(replacements)

# Confirm the change was successful
cereal.head()

cereal.mfr.value_counts()

Kellogs                        23
General Mills                  22
Post                            9
Quaker Oats                     8
Ralston Purina                  8
Nabisco                         6
American Home Food Products     1
Name: mfr, dtype: int64

### Create new columns

In [27]:
# We can add new columns to the dataframe
# Let's make a new column called calories per cup
# This will help normalize the caloric density of each cereal

# First let's make the Series.  Then we'll add it to the dataframe
calories_per_cup = cereal.loc[:,"calories"] / cereal.loc[:,"cups"]

# Confirm that data looks reasonable
calories_per_cup

# Insert the series into the dataframe
cereal.insert(14, "calories_per_cup", calories_per_cup)

cereal

                                      mfr type  ...     rating  calories_per_cup
name                                            ...
100% Bran                         Nabisco    C  ...  68.402973        212.121212
100% Natural Bran             Quaker Oats    C  ...  33.983679        120.000000
All-Bran                          Kellogs    C  ...  59.425505        212.121212
All-Bran with Extra Fiber         Kellogs    C  ...  93.704912        100.000000
Almond Delight             Ralston Purina    C  ...  34.384843        146.666667
...                                   ...  ...  ...        ...               ...
Triples                     General Mills    C  ...  39.106174        146.666667
Trix                        General Mills    C  ...  27.753301        110.000000
Wheat Chex                 Ralston Purina    C  ...  49.787445        149.253731
Wheaties                    General Mills    C  ...  51.592193        100.000000
Wheaties Honey Gold         General Mills    C  ...  36.187559        146.666667

[77 rows x 15 columns]

### Handling missing values

Data may come with values missing.  How you handle these missing values will depend on your analysis and what you are trying to do.  

For example, one use case may be that you have a numeric column that is a count of something.  If data is missing in this column, we want to make the assumption that that count is 0.  

To easily replace missing values in a dataframe, you can use the `.fillna(replacement_value)` method. Here, `replacement_value` is the value that you want to replace your missing values with (e.g. 0 in the example above)

## Accessing Data in a Dataframe

There are many ways to access and select the desired data in a dataframe.

**`.loc`** (use the index name to access specific rows, cols, data points)
- `.loc[row_index]` to access a specific row identified by a specific `row_index` value
- `.loc[row_index, column_index]` to access a specific data point identified by the `row_index` and `column_index` (which is generally the column name)

**`.iloc`** (use the integer index value to access specific rows, cols, data points)
- `.iloc[row_index]` to access a row by the integer index number
- `.iloc[row_index, column_index]` to access a specific data point identified by the specified integer index numbers

**condition based**
- create boolean arrays that specify certain conditions, then subset by them

### Selecting via index

In [28]:
# .loc
# Grab a row using the index name
cereal.loc['Apple Jacks', :]

mfr                 Kellogs
type                      C
calories                110
protein                   2
fat                       0
sodium                  125
fiber                     1
carbo                    11
sugars                   14
potass                   30
vitamins                 25
weight                    1
cups                      1
rating              33.1741
calories_per_cup        110
Name: Apple Jacks, dtype: object

In [29]:
# Grab a column using the column name
cereal.loc[:,'calories']

name
100% Bran                     70
100% Natural Bran            120
All-Bran                      70
All-Bran with Extra Fiber     50
Almond Delight               110
                            ...
Triples                      110
Trix                         110
Wheat Chex                   100
Wheaties                     100
Wheaties Honey Gold          110
Name: calories, Length: 77, dtype: int64

In [30]:
# Grab a specific data point using both row and column names
cereal.loc['Apple Jacks','calories']

110

In [31]:
cereal.loc[['Apple Jacks','Cheerios'],['mfr','calories','rating']]

                       mfr  calories     rating
name
Apple Jacks        Kellogs       110  33.174094
Cheerios     General Mills       110  50.764999

In [32]:
# .iloc
# Grab a specific row (-1 being the last row)
cereal.iloc[-1]

mfr                 General Mills
type                            C
calories                      110
protein                         2
fat                             1
sodium                        200
fiber                           1
carbo                          16
sugars                          8
potass                         60
vitamins                       25
weight                          1
cups                         0.75
rating                    36.1876
calories_per_cup          146.667
Name: Wheaties Honey Gold, dtype: object

In [33]:
# Grab a specific column (column order is from left to right)
cereal.iloc[:,0]

name
100% Bran                           Nabisco
100% Natural Bran               Quaker Oats
All-Bran                            Kellogs
All-Bran with Extra Fiber           Kellogs
Almond Delight               Ralston Purina
                                  ...
Triples                       General Mills
Trix                          General Mills
Wheat Chex                   Ralston Purina
Wheaties                      General Mills
Wheaties Honey Gold           General Mills
Name: mfr, Length: 77, dtype: object

In [34]:
# Grab a specific data point
cereal.iloc[-1, 0]

'General Mills'

### Conditional selection via boolean arrays

In [35]:
# Conditional selection by creating boolean arrays
is_high_sugar = cereal.loc[:,'sugars'] >= 10  # Defining high sugar as greater than 10g
is_high_sugar

name
100% Bran                    False
100% Natural Bran            False
All-Bran                     False
All-Bran with Extra Fiber    False
Almond Delight               False
                             ...
Triples                      False
Trix                          True
Wheat Chex                   False
Wheaties                     False
Wheaties Honey Gold          False
Name: sugars, Length: 77, dtype: bool

In [36]:
cereal[is_high_sugar].head()

                                   mfr type  ...     rating  calories_per_cup
name                                         ...
Apple Cinnamon Cheerios  General Mills    C  ...  29.509541        146.666667
Apple Jacks                    Kellogs    C  ...  33.174094        110.000000
Cap'n'Crunch               Quaker Oats    C  ...  18.042851        160.000000
Cocoa Puffs              General Mills    C  ...  22.736446        110.000000
Corn Pops                      Kellogs    C  ...  35.782791        110.000000

[5 rows x 15 columns]

In [37]:
# Combining multiple boolean arrays to filter
# First let's create a second condition
is_high_carb = cereal.loc[:,'carbo'] >= 10 

# To combine them, we can use bitwise operators
# & = and
# | = or
# ~ = not

cereal[is_high_sugar | is_high_carb].loc[:,['mfr', 'calories', 'carbo', 'sugars']]

                                    mfr  calories  carbo  sugars
name
Almond Delight           Ralston Purina       110   14.0       8
Apple Cinnamon Cheerios   General Mills       110   10.5      10
Apple Jacks                     Kellogs       110   11.0      14
Basic 4                   General Mills       130   18.0       8
Bran Chex                Ralston Purina        90   15.0       6
...                                 ...       ...    ...     ...
Triples                   General Mills       110   21.0       3
Trix                      General Mills       110   13.0      12
Wheat Chex               Ralston Purina       100   17.0       3
Wheaties                  General Mills       100   17.0       3
Wheaties Honey Gold       General Mills       110   16.0       8

[72 rows x 4 columns]

In [39]:
# Other ways to make boolean arrays for conditional selection

# Testing a string
# We use index in these examples below because we've made the name the index
# and this is one of the few strings in this data set
# Normally you should replace index with a .loc[:,'column_name']
honey_in_name = cereal.index.str.contains("Honey")  # The cereal name contains the word "Honey"
starts_with_apple = cereal.index.str.startswith("Apple") # The cereal name starts with "Apple"
is_cheerio = cereal.index.str.lower().str.contains("cheerio")

In [40]:
cereal[is_cheerio]

                                   mfr type  ...     rating  calories_per_cup
name                                         ...
Apple Cinnamon Cheerios  General Mills    C  ...  29.509541        146.666667
Cheerios                 General Mills    C  ...  50.764999         88.000000
Honey Nut Cheerios       General Mills    C  ...  31.072217        146.666667
Multi-Grain Cheerios     General Mills    C  ...  40.105965        100.000000

[4 rows x 15 columns]

### Sort Values

In [41]:
# Sorting values is helpful when exploring the data

cereal.sort_values(by=['calories'], ascending=False)

                                              mfr  ... calories_per_cup
name                                               ...
Mueslix Crispy Blend                      Kellogs  ...       238.805970
Muesli Raisins; Dates; & Almonds   Ralston Purina  ...       150.000000
Muesli Raisins; Peaches; & Pecans  Ralston Purina  ...       150.000000
Total Raisin Bran                   General Mills  ...       140.000000
Just Right Fruit & Nut                    Kellogs  ...       186.666667
...                                           ...  ...              ...
All-Bran                                  Kellogs  ...       212.121212
100% Bran                                 Nabisco  ...       212.121212
All-Bran with Extra Fiber                 Kellogs  ...       100.000000
Puffed Wheat                          Quaker Oats  ...        50.000000
Puffed Rice                           Quaker Oats  ...        50.000000

[77 rows x 15 columns]