# **Lab Example #1**: **lists**, **loops**, and **conditional statements**

In this exercise, I will explain using **lists**, **loops**, and **conditional statements**.  In the first code block below, will produce a list of 50 random numbers that range from 1 through 100.  The objective is to take this list, find the single digit random numbers, store these to a new list, and print the new list of single digit random numbers.

In [1]:
from random import randint

# This code produces a list of 50 random numbers in the range of 1 - 100
random_numbers = [randint(1,100) for i in range(50)]
print(random_numbers)

[32, 34, 62, 43, 4, 24, 61, 90, 57, 18, 24, 83, 14, 61, 82, 60, 91, 24, 83, 50, 35, 47, 7, 83, 77, 62, 97, 42, 57, 39, 6, 20, 97, 99, 34, 9, 37, 76, 61, 3, 21, 70, 19, 40, 75, 37, 63, 13, 59, 42]

  Steps to follow:

1.   Create a new list called `single_digit_random_numbers`.
2.   Using a `for` loop, iterate through the list `random_numbers`
3.   Add any numbers that are less than 10 to `single_digit_random_numbers` using the `append()` function
4.   Once the loop completes, print the list `single_digit_random_numbers`
5.   Confirm that you have the intended results.

In [4]:
single_digit_random_numbers = []

for num in random_numbers:
    if num < 10:
        single_digit_random_numbers.append(num)

print(single_digit_random_numbers)

[4, 7, 6, 9, 3]

# **Lab Example #2** **Categorization**

Using **dictionaries** and **loops** to recategorize numerical movie ratings into rating groups.  Creating new categorical dimensions of data is useful in data analysis as it provides more levers by which we can filter and group the data to reveal more insights. 

The output will be a dictionary with the **movie title** as the **key** and the **rating group** as the **value**.

Below is a list of select 2019 movies and their IMDb ratings

*   Joker (8.5)
*   Avengers: End Game (8.4)
*   Star Wars: The Rise of Skywalker (6.6)
*   Aladdin (7.0)
*   Toy Story 4 (7.8)

Rating group definitions are below

*   \>= 8.0 are "Great"
*   < 8.0 and >= 7.0 are "Mediocre"
*   < 7.0 are "Terrible"


steps to follow:


1.   Create a new dictionary called `movie_ratings` and manually input the movie titles as the keys and the numerical ratings as the values.
2.   Create an empty dictionary called `movie_rating_groups`.  This dictionary will be filled with movie titles as the keys and the text-based rating groups as the values.
3.   Iterate through `movie_ratings` using a `for` loop.  Note that when you iterate through a dictionary, you are iterating through its keys (not values).
4.   As you iterate through each key in `movie_ratings`, look up the numerical rating value in `movie_ratings` and translate the value into the appropriate rating group (using the definition above)
5.   Add the movie title as the key and the rating group as the value to `movie_rating_groups`

In [5]:
# create dictionary with keys and values
movie_ratings = {
    "Joker": 8.5,
    "Avengers: End Game": 8.4,
    "Star Wars: Rise of Skywalker": 6.6,
    "Aladdin": 7.0,
    "Toy Story 4": 7.8
}
# empty dictionary to store new categories
movie_rating_groups = {}

for movie in movie_ratings:
    if movie_ratings[movie] >= 8.0:
        movie_rating_groups[movie] = "Great"
    elif movie_ratings[movie] >= 7.0 and movie_ratings[movie] < 8.0:
        movie_rating_groups[movie] = "Mediocre"
    elif movie_ratings[movie] < 7.0:
        movie_rating_groups[movie] = "Terrible"
    
print(movie_rating_groups)

{'Joker': 'Great', 'Avengers: End Game': 'Great', 'Star Wars: Rise of Skywalker': 'Terrible', 'Aladdin': 'Mediocre', 'Toy Story 4': 'Mediocre'}

# Lab Example #3 **Functions**

Writting a **function** that accepts a `list` of `int` and a separate number as an `int`.  The **function** will return a new `list` of numbers that are multiples of the `int`.

For example, given inputs `[1,2,3,4,5,6,7,8,9]` and `3`, the function would return `[3,6,9]`.

Steps to follow:


1.   Define a function `find_multiples` that accepts two arguments `input_list` and `x`.
2.   In your function, create a new list `output_list` that is empty.
3.   Loop through `input_list` and test each item to see whether it meets the condition of being a multiple of `x`.  *Hint: Use the modulo operator*
4.   If the number is a multiple of `x`, append it to `output_list`
5.   Once the loop is finished, return `output_list`
6.   Test with different input values to see if the function behaves as expected

In [6]:
# Write your code below
def find_multiples(input_list, x):
    output_list = []
    for num in input_list:
        if num % x == 0:
            output_list.append(num)
    return output_list

test = [1,2,3,4,5,6,7,8,9]

print(find_multiples(test, 3))

[3, 6, 9]

# Lab Example #4 **Numpy**

Using **Numpy** to generate some summary statistics about a set of data.  

Run the first code block below to load the data you will use for this example. This data is a list of 20 grades for each of 5 students in a class.

In [7]:
grades_student_1 = [75, 98, 90, 86, 95, 65, 89, 100, 91, 84, 90, 74, 70, 77, 73, 65, 97, 76, 86, 68]
grades_student_2 = [92, 99, 97, 82, 72, 77, 86, 70, 100, 91, 70, 98, 99, 71, 85, 83, 88, 79, 94, 77]
grades_student_3 = [89, 77, 90, 78, 82, 96, 96, 83, 79, 73, 92, 81, 98, 77, 100, 92, 86, 85, 81, 81]
grades_student_4 = [69, 68, 90, 68, 86, 76, 82, 69, 93, 95, 85, 76, 81, 96, 75, 80, 85, 73, 68, 91]
grades_student_5 = [78, 66, 87, 94, 66, 89, 80, 82, 80, 67, 92, 91, 82, 91, 80, 86, 72, 76, 91, 78]

The goal in this example is to answer the following questions:


1.   What is the average (mean) grade for each of the 5 students?
2.   What are the minimum and maximum grades for each of the 5 students?
3.   What is the average grade for the first assignment (at index 0)?
4.   What is the minimum and maximum grade for the 7th assignment (at index 6)?


Steps to follow:

1.   Import `numpy`
2.   Load the five lists into a single `numpy` array called `grades`. Remember that this will be a two dimensional array, so will be a list of lists.
3.   Use the appropriate `numpy` functions and `axis` arguments to generate the answers.

Expected Answers


1.   `[82.45, 85.5 , 85.8 , 80.3 , 81.4 ]`
2.   Max grades: `[100, 100, 100,  96,  94]`   Min grades: `[65, 70, 73, 68, 66]`
3.   80.6
4.   80 (min), 96 (max)

In [9]:
import numpy as np

grades = np.array([grades_student_1,grades_student_2,grades_student_3,grades_student_4,grades_student_5])

In [ ]:
#1 What is the average (mean) grade for each of the 5 students?
print(np.mean(grades, axis=1))
#2 What are the minimum and maximum grades for each of the 5 students?
print(np.max(grades, axis=1))
print(np.min(grades, axis=1))
#3 What is the average grade for the first assignment (at index 0)?
print(np.mean(grades, axis=0)[0])
#4 What is the minimum and maximum grade for the 7th assignment (at index 6)?
print(np.max(grades, axis=0)[6])
print(np.min(grades, axis=0)[6])